body {
  background: #0E0E0E;
  color: #F5F5F5;
  margin: 0;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  height: 100vh;
  width: 100vw;
}

.item {
  border: 2px solid #C3C3C3;
  border-radius: 2rem;
  width: 21rem;
  height: 14rem;
  background: #3E3E3E;
  font-size: 2rem;
  font-family: arial;
  font-weight: bold;
}

.item:hover {
  box-shadow: 0 0 4px 4px #7A7A7A;
}

.item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  color: #FEFEFE;
  text-decoration: none;
}

.item img {
  height: 9rem;
}
