body {
  background: #0E0E0E;
  color: #F5F5F5;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  height: 100vh;
  width: 100vw;
}

.item {
  padding: 1rem;
  border: 2px solid #C3C3C3;
  border-radius: 2rem;
  width: 20rem;
  height: 12rem;

  background: #3E3E3E;
  color: #FEFEFE;
  font-size: 2rem;
  font-family: arial;
  font-weight: bold;
  text-decoration: none;
}

.item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.item img {
  height: 9rem;
}
